
/* COMMON */

header{
    background-color: #2c3e50;
}

/* COMMON */

.ms_elements{
    font-size: 20px;
    font-weight: bold;
    padding: 2rem 0;
    color: white;
}

/* MAIN */

.ms_start_background{
    background-color: #1abc9c;
}

.ms_container{
    width: 90%;
    margin: 0 auto;
    
}

.ms_start_image{

    background-color: lightcoral;

    /* TEST */

    height: 500px;
}

main section{
    background-color: white;
}

.ms_black{
    color: #333333;
    text-align: center;
}

.row-col-6 .col-12{
    background-color: lightcoral;
}

.ms_smaller_container{
    width: 50%;
}

/* FOOTER */

.ms_info_background{
    background-color: #3a546d;
}

.ms_copyright_background{
    background-color: #2c3e50;
}